#? stdtmpl(subsChar = '$', metaChar = '#')
#proc renderArticles(articles: seq[TArticleMetadata], prefix: string): string =
<table id="articles">
#  for a in articles:
    <tr>
      <td><a href="${prefix}${a.genURL}">${a.title}</a></td>
      <td class="date">${format(a.pubDate, "dd/MM/yyyy HH:mm")}</td>
    </tr>
#  end for
</table>
#end proc
#
#proc renderTags(tags: seq[string], prefix: string): string =
#  for i in 0..tags.len-1:
    <a href="${prefix}tags/${tags[i].normalizeTag}.html">${tags[i]}</a>
    ${if i < tags.len-1: "," else: ""}
#  end for
#end proc
